* {
margin: 0;
padding: 0;
}

html, body{
        font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hat_content{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.hat_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.index_heading{
    font-size: 64px;
    color: #1F3F68;
    width:  510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.hat_info{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/hat_background.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.hat_info .paragraph{
    width: 425px;
}

.hat_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 50px;
    margin-top: 71px;
    display: inline-block;
}

.contacts_heading{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.main_content{
    padding-top: 64px;
}

.simple_heading{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.small_heading{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px; 
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.project_paragraph{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    opacity: 1;
    width: 75%;
    margin: 32px auto 64px;
}

.input_area{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4
}

.buttons{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.hat_menu ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.article{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.article_img{
    align-self: center;
    margin-bottom: 51px;
}

.topics{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
   /*padding: 64px 0px;*/
}

.article_link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-top: 28px;
}

.project_item{
    position: relative;
    flex-grow: 1;
}

.project_img{
    width: 100%;
}

.project_theme{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top:64px;
    right: 64px;
}

.project_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project_item .left_child{
    padding-left: 113px;
}

.right_child{
    margin-left: 32px;
}

.pr_parent_theme{
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    right: auto;
    left: 32px;
    top:32px;
}

.footer {
    background: #316099;
    padding-bottom: 64px;
    padding-top: 91px;
    margin-top: 112px;
}

.footer_top{
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_info .simple_heading{
    width: 340px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
}

.footer_paragraph{
    color: #FFFFFF;
    width: 500px;
}

.footer_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    background: #5A98D0;
    padding: 15px 80px;
}
.line{
    opacity: 0.4;
border: 1px solid #FFFFFF;
}

.footer_contacts{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
   margin-top: 64px;
}

.footer_list{
    flex-grow: 1;
    flex-basis: 33.333%;
    margin-right: 32px;
}

.copyright .paragraph{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}

.contacts_top p{
    text-align: center;
}

.container ul{
    list-style-type: none;
}

.map_geoposition{
width: 100%;
}
.contacts.container{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contacts_hat_info{
    background-image: url(img/contacts_top_bg.png);
    background-repeat: no-repeat;
    height: 250px;
}

.contacts_heading{
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 24px;
}

.contacts_top_info .paragraph{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);

}

/* Adaptive for tablet */

@media (max-width: 1024px) {
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .hat_info{
        background-position: right 280px;
    }

    .topics{
        flex-direction: column;
        align-items: center;
    }

    .article{
        margin-bottom: 32px;
    }

    .footer{
         padding-top: 47px;
    }

    .footer_paragraph{
        width: 336px;
    }

    .footer_top{
        padding-bottom: 64px;
        justify-content: space-evenly;
    }

    .footer_button{
        padding: 3px 28px;
        margin-top: 64px
    }

   .footer_contacts{    
        min-height: 150px; 
        flex-direction: column;
    }

    .footer .container{
        width: 75%;
    }
}

/* Adaptive for mobile */

@media (max-width:667px){
    .hat_content{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .hat_menu ul{
        padding-top: 24px;
    }

    .hat_info{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .index_heading{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
    }
    
    .hat_info .paragraph{
        width: 100%;
        text-align: center;
    }

    .hat_button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin-top: 32px;
    }

    .main_content {
        padding-top: 48px;
    }
  
    .simple_heading{
        font-size: 24px;
        line-height: 28px;
    }
    
    .topics{
        padding-top: 32px;
    }

    .article{
        width: 100%;
    }

    .project_paragraph{
        width: 100%;
    }

    .project_theme{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .project_parent{
        flex-direction: column;
        margin-top: 16px;
    }
    
    .right_child{
        margin-left: 0;
        margin-top: 16px;
    }

    .footer{
        margin-top: 64px;
        margin-bottom: 0;
        padding-top: 18px;
         padding-bottom: 32px;
    }

    .footer .container{
         width: 90%;
    }
    
    .footer_top{
        display: flex;
        flex-flow: column;
        padding-bottom: 40px;
    }

    .footer_info .simple_heading{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin: 18px 16px 32px 16px;
        width: 75%;
    }

    .footer_paragraph{
        text-align: center;
        width: 100%;
    }

    .footer_button{
        margin-top: 40px;
    }

    .footer_contacts{
        margin-top: 32px;
    }

    .copyright .paragraph{
        margin-top: 37px;
    }
}

