* {
margin: 0;
padding: 0;
}


html, body{
        font-family: sans-serif;
}

.index_heading{
    font-size: 64px;
    color: #1F3F68;
    width:  510px;
}

.hat_info .paragraph{
    width: 425px;
}

.contacts_heading{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.simple_heading{
    font-size: 36px;
    text-align: center;
}

.small_heading{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.input_area{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4
}

.buttons{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hat_menu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.article{
    width: 359px;
}


.topics{
display: flex;
    justify-content: space-between;
    }

.footer_info{
    width: 495px;
}
.footer_info .simple_heading{
    width: 340px;
}

.footer_bot ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.contacts_top p{
    text-align: center;
}

.container ul{
    list-style-type: none;
}

.map_geoposition{
width: 100%;
}
.contacts.container{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}